.wrapper {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formHolder {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
  }
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo {
  margin-top: 1rem;
  max-width: 440px;
}

@media screen and (max-width: $breakpoint-lg) {
  .wrapper {
    // left: -$sidebar-width;
  }

  .logo {
    width: 100%;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .logo {
    width: 428px;
  }
}
