.wrapper {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 15%;
}

.imageHolder {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.image {
  background-color: color(background, base);
  border-radius: 0.5rem;
  margin: 1rem;
}
