node_modules/
security/
thumbs.db
.idea/
package-lock.json
.webpack.config.js.icloud
src/.index.js.icloud
src/.store.js.icloud
src/components/display/.RunningContainers.js.icloud
src/components/display/.StoppedContainers.js.icloud
src/database/docketeerdb
server/database/docketeerdb
.env
.idea/
thumbs.db
dist/
node_modules/
security/
thumbs.db
.idea/
package-lock.json
.webpack.config.js.icloud
src/.index.js.icloud
src/.store.js.icloud
src/components/display/.RunningContainers.js.icloud
src/components/display/.StoppedContainers.js.icloud
src/database/docketeerdb
.env
yarn.lock
coverage

.history