.legend-container {
  display: flex;
  flex-direction: column;
  width: 170px;
  align-items: center;
  margin-top: 5px;
}

.legend-container p {
  margin-left: 8px;
}
.aggregate-conatiner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 50px;
  justify-items: center;
}

.avaliable-box {
  background-color: rgba(44, 130, 201, 1);
  width: 15px;
  height: 10px;
  display: flex;
  align-self: center;
}
.usage-box {
  background-color: rgba(19, 221, 29, 1);
  width: 15px;
  height: 10px;
  display: flex;
  align-self: center;
}

.legend-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 5px;
  margin-top: 10px;
}
.pieChart {
  background-color: white;
  height: 400px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.lineChart {
  height: 640px;
  width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ltTable {
  width: 600px;
  text-align: left;
}

.metric-section-title {
  height: 30px;
  margin-bottom: 15px;
}

.metrics-options-form {
  background-color: white;
  padding: 20px 10px 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 0.3rem;
}

.metrics-options-form input {
  margin-left: 10px;
}
