.legend-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 170px;
  }
  
  .avaliable-box {
    background-color: rgba(44, 130, 201, 1);
    width: 15px;
    height: 10px;
    display: flex;
    align-self: center;
  }
  .usage-box {
    background-color: rgba(19, 221, 29, 1);
    width: 15px;
    height: 10px;
    display: flex;
    align-self: center;
  }
  
  .legend-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5px;
    margin-top: 10px;
  }
  .pieChart {
    height: 320px;
    width: 280px;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  