.chart{
    margin-top: 10px;
}
.chart-info{
    width: 200px;
    height: 110px;
    margin-top: 10px;
    margin-left: 15px;
}
.chart-label {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.chart-label-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.chart-label-text {
    font-size: 11px;
    font-weight: bold;
}
.cpuBox {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    background-color: rgba(44, 130, 201, 1);
}
.memoryBox {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    background-color: rgba(19, 221, 29, 1);
}