.fa-box-open {
  content: url(../../../assets/running.svg);
  width: 22px;
  color: black;
}

.fa-archive {
  content: url(../../../assets/stopped.svg);
  width: 22px;
}

.fa-database {
  content: url(../../../assets/images.svg);
  width: 22px;
}

.fa-chart-pie {
  content: url(../../../assets/metrics.svg);
  width: 22px;
}

.fa-file-upload {
  content: url(../../../assets/docker-compose.svg);
  width: 22px;
}

.fa-settings {
  content: url(../../../assets/settings.svg);
  width: 22px;
}

.fa-volume-history {
  content: url(../../../assets/volumehistory.svg);
  width: 22px;
}

.fa-users {
  content: url(../../../assets/users.svg);
  width: 22px;
}

.fa-file {
  content: url(../../../assets/document.svg);
  width: 70px;
}

.fa-log {
  content: url(../../../assets/docketeer-logs.svg);
  width: 22px;
}

.fa-expand {
  content: url(../../../assets/expand-icon.svg);
  width: 22px;
}

.fa-compress {
  content: url(../../../assets/compress-icon.svg);
  width: 22px;
}