@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  background: #042331;
}

i {
  color: rgb(105, 105, 72);
  transition: 0.3s;
}

ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h4 {
  margin-top: 12px;
  font-size: large;
}

.container {
  display: flex;
  background: #042331;
  min-height: 750px;
  height: 99.7vh;
  width: 99.7vw;
}

.tab {
  min-height: 750px;
  min-width: 255px;
  height: 99.6vh;
  background: #042331;
}

.selected .Link {
  background: #e1e4e6;
  color: #042331;
}

.renderContainers {
  color: #042331;
  margin: 0px 10px;
  padding: 0px 25px 0px 25px;
  min-width: 78vw;
  height: 100%;
  /* flex-wrap: wrap; */
  overflow: scroll;
  border-radius: 0.3rem;
  background: #e1e4e6;
}

.renderContainers.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
  width: 50%;
  margin: 0 auto;
  border-radius: 0.7rem;
  padding-top: 30px;
  padding-bottom: 120px;
}

.renderContainers.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
  width: 50%;
  margin: 5vh auto;
  border-radius: 0.7rem;
  padding-top: 30px;
  padding-bottom: 120px;
}

.settings-container.inner-box {
  border-radius: 0.7rem;
}

.header {
  line-height: 90px;
  font-size: 12px;
  font-weight: 800;
  background: #e1e4e6;
}

.header span {
  font-size: 24px;
}

.header div * {
  margin: 2px;
}

.tabTitle {
  font-weight: bolder;
  font-size: 30px;
}

.runByButton {
  float: right;
  margin-right: 50px;
}

.containers {
  background-color: #e1e4e6;
  max-height: 800px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.viewsAndButton {
  display: flex;
  flex-direction: column;
  height: 75%;
  align-items: center;
}

.login-buttons {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.register.login-buttons:hover {
  background-color: #e3f6f5;
}

.signup-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewsAndButton div {
  margin-top: 50px;
}

.box {
  margin-top: 20px;
  margin-left: 20px;
  min-width: 250px;
  background: white;
  padding-bottom: 10px;
  position: relative;
  border-radius: 10px;
}

.stopped-containers {
  display: flex;
  flex-wrap: wrap;
  min-width: auto;
}


.box-running {
  border-radius: 0.7rem;
}

.toggle-box {
  transform: translate(-5px, 5px);
}

.box-button-running {
  transform: translate(0px, 0px);
  box-shadow: 0px 9px 7px rgba(146, 139, 148, 1);
  padding: 10px;
}

.box-label {
  color: white;
  display: flex;
  font-weight: bolder;
  flex-direction: column;
  background: #052e41c0;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  justify-content: flex-start;
}

.box-label h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.box-label p {
  font-size: 14px;
  color: rgb(187, 186, 186);
}

.box-info {
  background: none;
  font-size: 11px;
  margin-left: 10px;
  margin-right: 10px;
}

.box li {
  color: black;
  margin: 5px;
  width: 100%;
}

.tab ul li:hover {
  border-left: #e1e4e6 12px solid;
}

.tab ul li a:hover {
  font-weight: 900;
}

.tab ul li a:hover i {
  padding-left: 20px;
}

.box-buttons {
  text-align: center;
}

.tab header {
  background: #042331;
  border-top-left-radius: 40px;
  text-align: center;
  line-height: 85px;
  margin-top: 25px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
  color: #e1e4e6;
}

.tab ul li {
  line-height: 65px;
}

.tab ul li a {
  display: block;
  background: #042331;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding-left: 25px;
}

.stopped-header {
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  flex-direction: column;
  padding: 10px;
  /* border-radius: 10px 10px 0 0; */
  justify-content: center;
  align-items: flex-start;
  background: #3c3d3da9;
  color: white;
  text-align: center;
  /* border-radius: 10px 10px 0 0; */
  margin-bottom: 10px;
}

.stopped-info {
  margin-left: 5px;
  margin-right: 5px;
}

.stopped-info ul {
  font-size: 14px;
  overflow: hidden;
}

.stopped-button {
  text-align: center;
  background: white;
  margin-top: 10px;
  margin-bottom: 7px;
}

.images-header {
  background: rgba(0, 0, 128, 0.75);
  font-weight: bold;
  font-size: 16px;
  color: white;
  text-align: start;
  /* border-radius: 10px 10px 0 0; */
  margin-bottom: 10px;
  padding: 10px;
}

.chart-container {
  width: 350px;
  margin-bottom: 30px;
  border-radius: 10px 10px 0 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.dougnutChart {
  height: 170px;
  width: 280px;
}

.metricCharts {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.allCharts {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  margin: 20px 0px;
  height: 320px;
  width: calc(50% - 30px);
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 0.3rem;
  transition: width 0.5s ease-in;
}

.allCharts.expanded-chart {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  margin: 20px 0px 20px 0px;
  height: 400px;
  width: 100%;
  transition: width 0.7s ease-out;
}

.buttonDisplay {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-content: center;
}

.chart-btn {
  border: none;
  margin-bottom: 10px;
  background: none;
}

.gitHub-container {
  text-align: left;
  background-color: white;
  margin: 20px 0px 20px 0px;
  height: 100%;
  padding: 15px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.users-container {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; 
  /* overflow: hidden; */
}

.settings-container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  margin: 20px 0px 20px 0px;
  padding: 15px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  border-radius: 0.5rem;
  line-height: 1.5rem;
}

.container-name {
  color: #042331;
  font-weight: bold;
}

.container-id {
  color: rgb(107, 106, 106);
}

.chart-options {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  width: 94%;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.chart-number {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  font-size: 22px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.block {
  margin-top: 50px;
}

.threshold {
  background: #57a3c6c0;
  font-weight: 300;
  font-size: 17px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin: 0;
}

.chart-title {
  background: #052e41c0;
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 45px;
  border-radius: 10px 10px 0 0;
}
/* 
#drag-file {
  background-color: white;
} */


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-header {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.btn-compose-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yml-boxes {
  border: 1px solid #bab2b5;
  margin: 10px 70px 10px 70px;
  background: white;
  min-width: 65vw;
}


.yml-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #052e41c0;
  padding: 0px 20px 0px 20px;
  height: 50px;
}

.yml-info {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin: 20px;
}

.yml-info p {
  margin: auto;
  text-align: center;
}

.yml-info-box {
  width: 200px;
  height: 100px;
  color: white;
  background: #052e41c0;
}

.network-container {
  background-color: #e1e4e6;
  margin-top: 75px;
  max-height: 800px;
  display: flex;
  flex-wrap: wrap;
}

.box-shadow {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.btn-process {
  border: 0px solid #e1e4e6;
  cursor: pointer;
  background-color: #e1e4e6;
}

.btn {
  border-radius: 0.2rem;
  background-color: #599bb3;
  border: 2px solid #599bb3;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
}

.btn:hover {
  background-color: #408c99;
}

.btn:active {
  position: relative;
  top: 1px;
}

.stop-btn-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stop-btn {
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 14px -7px grey;
  background-color: white;
  border-radius: 0.2rem;
  border: 1px solid red;
  display: inline-block;
  cursor: pointer;
  color: red;
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
  outline: none;
}

.remove-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 14px -7px grey;
  background-color: white;
  border-radius: 0.2rem;
  border: 1px solid red;
  display: inline-block;
  cursor: pointer;
  color: red;
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
  outline: none;
}

.remove-btn:hover {
  background-color: rgba(255, 0, 0, 0.75);
  color: white;
}

.stop-btn:hover {
  background-color: rgba(255, 0, 0, 0.75);
  color: white;
}

.run-btn {
  margin-right: 10px;
  background-color: white;
  box-shadow: 0px 10px 14px -7px grey;
  border-radius: 0.2rem;
  border: 1px solid green;
  display: inline-block;
  cursor: pointer;
  color: green;
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
  outline: none;
}

.run-btn:hover {
  background-color: rgba(0, 128, 0, 0.75);
  color: white;
}

.run-btn:active {
  position: relative;
  top: 1px;
}

.etc-btn {
  background-color: white;
  box-shadow: 0px 10px 14px -7px grey;
  border-radius: 0.2rem;
  border: 1px solid rgb(0, 100, 255);
  display: inline-block;
  cursor: pointer;
  color: rgb(0, 100, 255);
  font-size: 12px;
  padding: 5px 10px;
  text-decoration: none;
  outline: none;
}

.etc-btn:hover {
  background-color: rgba(0, 100, 255, 0.75);
  color: white;
}

.etc-btn:active {
  position: relative;
  top: 1px;
}

#upload-btn {
  margin-right: 1vw;
}

#getlogs-btn {
  margin-right: 1vw;
  margin-bottom: 1vh;
}

.toggle-button {
  text-align: center;
}

.toggle-button-detail {
  font-size: 12px;
  padding: 0px 75px;
}

.arrow {
  color: white;
}

.settings-content {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: white;
  width: 94%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px 0px;
}

.phone-number {
  margin-left: 20px;
  padding: 20px 0px;
}

.compose-list-container {
  margin: 100px;
}

.btn-compose-down {
  border: 2px solid white;
  color: white;
  height: 25px;
  width: 150px;
  background-color: transparent;
}

.btn-compose-down:hover {
  border: 2px solid white;
  color: #052e41c0;
  background-color: white;
}

.volume-container-details {
  padding: 5px;
  border-top: lightgray solid 2px;
  overflow: hidden;
}

.volume-container-details ul {
  margin-left: 1rem;
}

/* Login Screen Form Added 10/21/22 */
.loginForm {
  margin: 8px;
  width: fit-content;
}

.btn-signup {
  border: none;
  color: rgb(0, 153, 255);
  background-color: none;
  text-decoration: underline;
  cursor: pointer;
}

.settingsForm {
  margin-left: 5;
  margin-bottom: 15;
  width: 220;
  vertical-align: middle;
}

.settingsDescription {
  margin-left: 5;
  margin-bottom: 30;
}

#logo {
  padding: 5vh 0;
}

.input-box {
  padding: 1vh 1vw;
  width: 50vw;
  margin: 1vh 1vw 0 0;
}