.wrapper {
  display: flex;
  flex-direction: column;
  margin: 5px 2rem;
  input {
    width: 25%;
  }

  button {
    width: 25%;
  }
}

.searchHolder {
  display: flex;
  flex-direction: column;
}

.card {
  min-height: 5rem;
  min-width: 8rem;
  // padding: 1rem;
}

.volumesHolder {
  display: flex;
  flex-direction: column;
}

.volumesDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
