.wrapper {
  display: flex;
  flex-direction: column;
  margin: 5px 2rem;
}

.searchHolder {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.volumesHolder {
  display: flex;
  flex-direction: column;
}

.volumesDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
