.wrapper {
  margin: 5px 2rem;
  form {
    display: flex;
    flex-direction: column;
  }
  fieldset {
    margin-bottom: 1rem;
  }
}

.tableHolder {
  display: flex;
  align-items: center;

  th {
    width: 4rem;
    padding: 0.5rem;
    border-radius: 5px;
    color: color(light, light-gray);
    // background-color: color(light, light-gray);
  }
}

h2 {
  color: color(light, base);
}
