.wrapper {
  margin: $default-page-margin;
  display: flex;
}

.userManagement {
  width: 50%;
  display: flex;
  margin-right: 1rem;
  flex-direction: column;
  margin-bottom: 2rem;
  h2 {
    margin-bottom: 1rem;
  }
  th {
    width: 4rem;
    padding: 0.5rem;
    color: color(light, light-gray);
    // background-color: color(light, light-gray);
  }
}

.tableHolder {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  width: 100%;
  // height: 100%;
  border: 1px solid color(light, base);
  margin-bottom: 2rem;
  max-height: 50vh;

  table {
    border: none;
  }
}

.createUserHolder {
  width: 50%;
  margin-left: 1rem;
  form {
    display: flex;
    flex-direction: column;
  }
  [type='radio'] {
    margin-right: 0.5rem;
  }
  [type='text'] {
    min-width: 15rem;
  }
  [type='password'] {
    min-width: 15rem;
  }
  fieldset {
    margin-bottom: 1rem;
    width: 15rem;
    border-radius: 5px;
  }
  p {
    // max-width: 50%; only want this when vertical
    margin-bottom: 1rem;
  }
}

@media (max-width: $breakpoint-lg) {
  .wrapper {
    flex-direction: column;
  }
  .userManagement {
    margin-right: 0px;
    width: 100%;
  }
  .createUserHolder {
    width: 100%;
    margin-left: 0px;
    // fieldset {
    //   max-width: 100%;
    // }
    p {
      max-width: 100%;
    }
  }
}
