.wrapper {
  display: flex;
  align-content: center;
  justify-content: baseline;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.listHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.containerList {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
}

.container {
  background-color: red;
  border-radius: 0.5rem;
  margin: 0.5rem;
}
