.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: $default-page-margin;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

.listHolder {
  display: flex;
  flex-direction: column;
}

.count {
  margin-bottom: 1rem;
}
