@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.containerCard {
  padding-top: 30px;
  padding-bottom: 20px;
  transition: 0.2s;
  position: relative;
  width: 100%;
  // display: grid;
  // grid-template-columns: minmax(100px, 1fr) minmax(180px, 1.8fr) minmax(20px, .2fr);
  display: flex;
  flex-direction: column;
  // word-wrap: break-word;
  overflow-x: scroll;
  font-family:'Roboto';
  // width: 500px;
  // height: 15rem;

  background-color: color(background, base);
  // background: $background-bg;
  // box-shadow: $shadow;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  height: 100%;
  font-size: 14px;
  gap: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: color(light, base);
  // border-color: color(background, base);
  border-image: initial;
  transition: border 350ms ease 100ms, background-image 200ms ease;
  transition: all 0.3s ease-in-out;
  padding-left: 3rem;
  gap: 30px;

}

.ConFlex {
  display:flex;
  justify-content: flex-start;
  gap:120px;

}

.ConFlex label {
  font-weight:bold;
  width: 5rem;
  height: 1.5rem;
  padding-top: 5px;
}

input{
  background-color: lightgrey;
  border-radius: 2px;
  width: 50%;
  height: 1.5rem;
}

.ConFlex select {
  width: 50%;
  background-color: lightgrey;
}

.Sub{
  align-self:center;
  color: white;
  width:fit-content;
  padding-left: 20px;
  padding-right: 20px;
  display:flex;
  background-color: rgba(112, 128, 144, 0.258);
  min-height: 2rem;
  border-radius: 4px;
  overflow-x: none;
  font-size: 12px;
  background-color: rgba(112, 128, 144, 0.258);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
  
    font-size: .75rem;
    display: inline-flex;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.283);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    align-items: center;
    justify-content: center;
  
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-.5px);
    }
  
    &:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      transform: translateY(0);
    }
  
    color:white;
}