.wrapper {
  position: fixed;
  // min-width: 50vw;
  width: 400px;
  min-height: 300px;
  z-index: 100000;
  // display: flex;
  // justify-content: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.general {
  // display: flex;
  // justify-content: center;
  border-width: 2px;
  border-style: solid;
  background-color: scale-color(color(background, dark), $alpha: -6%);
  text-align: center;
  padding: 1rem;
  min-width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);

  p {
    margin: 0 2rem;
  }
}

.updateUserHolder {
  width: 100%;
  display: flex;
  justify-content: center;

  form {
    flex-direction: column;
  }

  [type='radio'] {
    margin-right: 0.5rem;
  }

  [type='text'] {
    min-width: 15rem;
  }

  [type='password'] {
    min-width: 15rem;
  }

  fieldset {
    margin-bottom: 1rem;
    width: 15rem;
    border-radius: 5px;
  }
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;

  // button {
  //   margin-right: 2rem;
  // }
}

.editUser {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: $breakpoint-lg) {
  .wrapper {
    left: calc(50% + $sidebar-width / 2);
    width: 50%;
  }
}
