.wrapper {
  margin: $default-page-margin;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h2 {
    margin-bottom: 1rem;
  }
}

.logo {
  width: 300px
}

.aboutParagraph {
  width: 820px;
  font-size: 17px;
}
.footer {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.footerIcons {
  width: 30px
}