.containerCard {
  @extend .card;
  transition: 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  width: 20rem;
  height: 15rem;
}

.textHolder {
  margin-bottom: 2rem;
}

.buttonHolder {
  display: flex;
  justify-content: space-between;
}

.buttonSpacer {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  button {
    margin-right: 0.5rem;
  }
}

.modal {
  position: fixed;
  display: flex;
  background: $background-bg;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 20rem;
  left: 40%;
  top: 30%;
  border-radius: 2rem;
}

.overlay {
  position: fixed;
  display: flex;
  background: hsla(0, 0%, 0%, 0.342);
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
