.chart{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.chart-info{
    width: 200px;
    height: 110px;
    margin: 0;
}
.chart-label {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}
.chart-label-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}
.chart-label-text {
    font-size: 11px;
    font-weight: bold;
}
.cpuBox {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    background-color: rgba(44, 130, 201, 1);
}
.memoryBox {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    background-color: rgba(19, 221, 29, 1);
}