
.container {
    display: flex;
}
.renderContainers {
    display: flex;
    flex-wrap: wrap;
}
.box {
    border: 1px solid #E8EDF3;
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.box-label {
    background-color: #E8EDF3;
    padding-top: 1px;
    border-radius: 30px 30px 0 0;
    text-align: center;
}
.box-buttons {
    text-align: center;
}
.tab {
    background-color: #E8EDF3;
    position: fixed;
    top: 10px;
    width: 200px;
    height: 600px;
}
.main-render {
    margin-left: 200px;
}
