.input {
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: 5px;
  padding: 0 1rem;
  margin: 1rem 0;
  font-size: 1rem;
  color: color(white, tan);
  background-color: color(light, light-gray);
  box-shadow: $shadow;
}

.card {
  // background: color(background, light-transparent);
  background-image: $background-fade;
  // box-shadow: $shadow;
  // backdrop-filter: blur(4px);
  // -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  // border: 1px solid rgba(255, 255, 255, 0.18);
  // margin: 1rem;
  padding: 1rem;
  max-width: 25vw;
  min-width: 12rem;
  gap: 1rem;
  // transition: border 350ms ease 100ms, background-image 200ms ease;
  // border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  transition: border 350ms ease 100ms, background-image 200ms ease;
  transition: all 0.3s ease-in-out;
}

.radioForm {
  display: flex;
  align-items: start;
}

.radioForm[type='radio'] {
  display: grid;
  place-content: center;
}

.radioForm::before {
  content: '';
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

.button1,
.button2 {
  color: color(light, tan);
  align-self: start;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  border-radius: 5px;
  padding: 0.25em 0.75em;
  min-width: 10ch;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button1 {
  background-color: color(blue, dark);
  text-shadow: 1px 1px 2px color(blue, dark);
  &:hover,
  &:active {
    background-color: scale-color(color(blue, dark), $lightness: -10%);
  }
  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px scale-color(color(blue, dark), $lightness: -40%);
  }
  &--small {
    font-size: 1.15rem;
  }
}

.button2 {
  // color: color(blue, light);

  background-color: transparent;
  border: 2px solid color(blue, light);
  &:hover,
  &:active {
    // background-color: scale-color(color(background, darkest), $lightness: 5%);
    border-color: scale-color(color(blue, light), $lightness: -15%);
  }
  &:focus {
    outline-style: solid;
    outline-color: transparent;
    box-shadow: 0 0 0 4px scale-color(color(blue, dark), $lightness: -40%);
  }
  &--small {
    font-size: 1.15rem;
  }
}

.buttonSmall {
  background-color: color(background, darker);
  padding: 0.25rem;
  font-size: 0.75rem;
  color: color(light, base);
  border-radius: 0.25rem;
  cursor: pointer;
}
