/* ./components/main.css */

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  font-family: 'Inter', -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$base-color: #7a0d43;

html {
  margin-bottom: 15px;
}

body {
  margin: 1%;
  margin-bottom: auto;
  color: $base-color;
}

.settingsFlex {
  margin: 4.25rem 0;
}
.settingsFlex > * {
  flex: 1 1 300px;
}

.usersFlex {
  margin: 4.25rem 0 1rem 0;
}

.usersFlex > * {
  flex: 1 1 300px;
}

.containerFlex {
  margin: 4.25rem 0;
}

.containerFlex > * {
  flex: 1 1 300px;
}

.metric-card {
  height: 100vh;
  width: 100vw;
  background-color: color(background, base);
  color: color(light, base);
}

.alert {
  max-width: 98%;
  opacity: 92.5%;
  margin: auto;
  margin-top: 5px;
}

h1 {
  font-size: 2.5rem;
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.75rem;
  }
}

// html {
//   margin-bottom: 15px;
// }

// .settingsFlex {
//   margin: 4.25rem 0;
// }
// .settingsFlex > * {
//   flex: 1 1 300px;
// }

// .usersFlex {
//   margin: 4.25rem 0 1rem 0;
// }

// .usersFlex > * {
//   flex: 1 1 300px;
// }

// .containerFlex {
//   margin: 4.25rem 0;
// }

// .containerFlex > * {
//   flex: 1 1 300px;
// }

// .metric-card {
//   height: 100vh;
//   margin: 4.25rem 0;
// }
