.wrapper {
  display: flex;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}

#networkList {
  position: relative;
  // box-shadow: rgba(255, 255, 255, 0.45) -5px 5px 5px 0px, rgba(177, 177, 177, 0.308) 5px -5px 10px 0px;
  border: 2px solid rgb(214, 214, 214);
  border-radius: .5rem;
  height: 100%;
  width: 19rem;
  z-index: 1;
  left: 0;
  top: 1rem;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: $background-bg;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  transition: all 0.3s ease-in-out;
  .listHolder {
    margin-top: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 35rem;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: rgb(41, 41, 41);
    }

    &::-webkit-scrollbar-thumb {
      background-color: #3d3d3d;
    }
  }

  input {
    margin-top: 2rem;
    width: 15rem;
  }

  button {
    margin-top: .5rem;
    width: 15rem;

  }

  .networkDiv {
    display: flex;
    justify-content: space-between;
    background-color: hsl(210, 15.2%, 18%);
    margin-top: .5rem;
    border: 2px solid rgb(214, 214, 214);
    border-radius: .5rem;
    width: 17rem;
    height: 2.75rem;
    padding-left: .5rem;
    transition: all 0.3s ease-in-out;
    &:hover {
    background-color: hsl(210, 16%, 35%);
    }
    #networkName {
      width: 12rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-top: .25rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
    #networkDeleteButton {
      color: rgb(148, 3, 3);
      font-weight: 700;
      height: 2.2rem;
      width: 3.5rem;
      margin-top: 0rem;
      border: 1px;
      padding-right: 3.5rem;
      padding-left: .2rem;
      z-index: 2;
      border-radius: 0 .3rem .3rem 0;
      transition: all 0.2s ease-in-out;
      &:hover {
        border-left: 2px solid rgb(214, 214, 214);
        background-color: hsl(210, 15.2%, 18%);
        color: rgb(238, 0, 0);
        
      }
    }
  }
}

.listHolder {
  display: flex;
  flex-direction: column;
  .sankeyDiagram, .sankeyTitle {
    margin-left: 2rem;
    margin-top: 2rem;
  }
}


@media screen and (max-width: $breakpoint-lg) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .containerList {
    grid-template-columns: 1fr 1fr 1fr;
    transform: all 0.2s ease-in-out;
  }

  .listHolder {
    width: 100%;
  }
}

@media screen and (max-width: $breakpoint-md) {
  .containerList {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: $breakpoint-sm) {
  .containerList {
    grid-template-columns: 1fr;
  }
}