@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.containerCard {
  transition: 0.2s;
    position: relative;
    display: grid;
    grid-template-columns: minmax(130px, 1fr) minmax(208px, 1.6fr) minmax(32px, .4fr);
    justify-content: center;
    // flex-direction: column;
    word-wrap: break-word;
    font-family: 'Roboto';
    // width: 500px;
    // height: 15rem;
  
    background-color: color(background, base);
    // background: $background-bg;
    // box-shadow: $shadow;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    height: 100%;
    width: 100%;
    padding: 1rem;
    // width: 65rem;
    gap: 1rem;
    border-width: 2px;
    border-style: solid;
    border-color: color(light, base);
    // border-color: color(background, base);
    border-image: initial;
    transition: border 350ms ease 100ms, background-image 200ms ease;
    transition: all 0.3s ease-in-out;
}



.containerCardStopped {
  transition: 0.2s;
  position: relative;
  display: flex;
  word-wrap: break-word;
  background-color: color(background, base);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  font-family:'Roboto';
  height: 100%;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
  border-width: 2px;
  border-style: solid;
  border-color: color(light, base);
  border-image: initial;
  transition: border 350ms ease 100ms, background-image 200ms ease;
  transition: all 0.3s ease-in-out;
}

.containerTextHolder {
  display:flex;
  flex-direction: column;
  white-space: nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
}

.containerTextHolder h2 {
  white-space: nowrap;
    overflow:scroll
}
.containerTextHolder h2::-webkit-scrollbar {
  display:none;
}

// .flexSpacing {
//   display: flex;
//   flex-direction:column;
//   justify-content:space-around

// }




// .containerTextHolder {

// }

.textSpacing {
  margin-bottom: 16px;
}
.containerMetricHolder {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  // border: 1px solid white;
}

.metricText {
  font-family: 'Roboto';
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 10px;
}

.metricSubtext {
  font-family: 'Roboto';
  border: 1px solid rgba(255, 255, 255, 0.283);
  border-radius: 4px;
  display: grid;
  font-size: 12px;
  background-color: rgba(112, 128, 144, 0.258);
  text-align: center;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
 &:hover {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   transform: translateY(-.5px);
 }

 &:active {
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
   transform: translateY(0);
 }
}

h5 {
  padding-top: 10px;
  margin-bottom:4px;
}

.buttonHolder {
  display: flex;
  margin-left: auto;
  // border: 1px solid white;
}

.buttonSpacer {
  // position: absolute;
  // bottom: 1rem;
  // left: 1rem;
  padding-top: 0px;
  display: flex;
  gap:7px;
  justify-content: center;
  flex-direction: column;

  button {
    margin-right: 0.5rem;
  }
}



.buttonSmall {
  min-height: 2rem;
  font-size: 12px;
  background-color: rgba(112, 128, 144, 0.258);
  border-radius: 4px;
  padding: 10px;
  display:inline-flex;
  font-size: .75rem;
  border: 1px solid rgba(255, 255, 255, 0.283);
  cursor: pointer;
  outline-color: #212121;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);
  position:relative;
  align-items:center;
  &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-.5px);
    }
  &::before {
      content: "";
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius:2px;
      background-color: #fff;
      margin-right: 10px;
  }
  
    &:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      transform: translateY(0);
    }
    color:white;
}

.buttonSmallBottom {
  min-height: 2rem;
  border-radius: 4px;
  font-size: 12px;
  background-color: rgba(112, 128, 144, 0.258);
  padding: 10px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
      0 4px 5px 0 rgba(0, 0, 0, 0.14),
      0 1px 10px 0 rgba(0, 0, 0, 0.12);

  font-size: .75rem;
  display: inline-flex;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.283);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  align-items: center;
  &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-.5px);
    }
   &:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      transform: translateY(0);
    }
    color:white;
}



@media screen and (max-width: $breakpoint-sm) {
  .containerList {
    grid-template-columns: minmax(480px, 1fr);
  }

  .containerCard {
    transition: 0.2s;
    position: relative;
    display: grid;
    grid-template-columns: minmax(130px, 1fr) minmax(208px, 1.6fr) minmax(32px, .4fr);
  }
    .buttonSmall {
      padding: 4px;
    }
    .buttonSmallBottom {
      padding: 4px;
    } 
}