// @use '../main.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 70vh;
  margin: 0 25vw;
}

.formHolder {
  display: flex;
  flex-direction: column;
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.logo {
  margin-top: 1rem;
}
