@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.hh {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight:bolder;
}
.hh1 {
  margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bolder;
}
.Connect {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.middle {
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-top: 60px;
}



@media screen and (max-width: 1096px) {
  .hh1{
    margin-top: 75px;
  }
}