.containerList {
  display: grid;
  gap: 1rem;
  grid-template: 1fr 1fr / 1fr 1fr;
  width: 100%;
}
.containerCard {
  @extend .card;
  position: relative;
  display: flex;
  flex-direction: column;
}
.textHolder {
  margin-bottom: 1rem;
}
.buttonHolder {
  display: flex;
  justify-content: space-between;
}
.buttonSpacer {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  button {
    margin-right: 1rem;
  }
}
