.containerCard {
  @extend .card;
  transition: 0.2s;
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  
}
.textHolder {
  margin-bottom: 1rem;
}
.buttonHolder {
  display: flex;
  justify-content: space-between;
}
.buttonSpacer {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  button {
    margin-right: 0.5rem;
  }
}
